body { 
	background-color: #EEE;
	color: #444444;
	font-family: "Helvetica";
	font-size: 15px;
}

div.box {
padding:10px;
}

div#content {
	position: relative;
	width: 700px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
	min-height: 700px;
	padding: 10px 20px 10px 20px;
}

div#content div.row div {
	display: inline-block;
	width: 220px;
	margin-bottom: 10px;
}

div#content input[type=text] {
	width: 200px;
	border: 1px solid #888888;
	padding: 3px 5px;
}

div#content select {
	width: 90px;
	border: 1px solid #888888;
	padding: 3px 5px;
}

input[type=submit] {
	display:block;
	margin-top: 10px;
	float: right;
	width: 70px;
}

.inputerror {
	background-color: #F4E6E6;
	border: 1px solid #F2C5C5;
	color: #B70A0F;
	margin-bottom: 15px;
	padding: 5px 0px 5px 10px;
}

hr {
	margin-bottom: 15px;
	background-color: #006699;
	border: 1px none #006699;
	color: #006699;
	height: 3px;
}

div#footer {
	position: absolute;
	bottom: 7px;
}

div#footer a {
  color: #3D94F6;
  text-decoration: none;
}

div#footer a:hover {
	text-decoration: underline;
}
